---
//
---

<section id="collaboration" class="section collaboration">
            <div class="container">
                <h2>Условия Сотрудничества</h2>
                <p>Мы принимаем талантливых актеров, режиссеров и спонсоров с опытом в театре. Почему так? Потому что стремимся к высшему качеству, где каждый вклад — часть шедевра.</p>
            </div>
</section>