---

---

<section id="opportunities" class="section opportunities">
    <div class="container">
        <h2>Возможности</h2>
        <p>Мы можем организовать спектакли, гастроли и корпоративные события. Решать с продюсером Еленой Шагали по email: info@mirzasce.ru</p>
    </div>
</section>
