body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #121212e3;
    color: #e0e0e0;
    line-height: 1.6;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    margin: 0;
    color: gold;
}